<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Контакти</title>

    <link rel="stylesheet" type="text/css" href="../static/styles/base.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="../static/img/logo.png" alt="Logo">
            <p>Аеропорт XYZ</p>
        </div>
        <nav>
            <ul>
                <li><a href="/">Головна</a></li>
                <li><a href="/offers">Товари та послуги</a></li>
                <li><a href="/pricelist">Прайс-лист</a></li>
                <li><a href="/contacts">Контакти</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div style="width:75%; margin-left: auto; margin-right: auto;">
		<h1>Контакти</h1>

        <ul class="contact-list">
			<li>
				<h2>Поштова адреса:</h2>
				<p>Аеропорт XYZ</p>
				<p>Нью-Мексико, Альбукерке 1234</p>
				<p>Сполучені Штати Америки</p>
			</li>
			<li>
				<h2>Фізична адреса:</h2>
				<p>Аеропорт XYZ</p>
				<p>123 Головна вул</p>
				<p>Нью-Мексико, Альбукерке 1234</p>
				<p>Сполучені Штати Америки</p>
			</li>
			<li>
				<h2>Номери телефонів:</h2>
				<p>США: +1 (555) 123-4567</p>
				<p>Україна: +380 (44) 123-4567</p>
				<p>Китай: +86 (10) 1234-5678</p>
			</li>
			<li>
				<h2>Електронна пошта:</h2>
				<p>info@xyzairport.com</p>
			</li>
			<li>
				<h2>Сайт:</h2>
				<p>www.xyzairport.com</p>
			</li>
			<li>
				<h2>Facebook:</h2>
				<p>www.facebook.com/xyzairportofficial</p>
			</li>
			<li>
				<h2>Telegram:</h2>
				<p>t.me/xyzairportofficial</p>
			</li>
		</ul>

		<h1>Додаткова інформація або умови для клієнтів, які можуть бути корисними</h1>

		<article>
            <h2>Час реєстрації:</h2>
            <p>
				будь ласка, зареєструйтеся принаймні за 2 години до вильоту рейсу, щоб мати достатньо часу для перевірки безпеки та посадки.
			</p>
        </article>

		<article>
            <h2>Обмеження щодо багажу:</h2>
            <p>
				перш ніж пакувати багаж, уточніть у вашій авіакомпанії конкретні обмеження та тарифи на багаж. За негабаритний або важкий багаж може стягуватися додаткова плата.
			</p>
        </article>

		<article>
            <h2>Заборонені предмети:</h2>
            <p>
				для безпеки всіх пасажирів деякі предмети заборонені на рейсах. Будь ласка, перегляньте список заборонених предметів TSA перед пакуванням, щоб уникнути будь-яких затримок або проблем із безпекою.
			</p>
        </article>

		<article>
            <h2>Доступність:</h2>
            <p>
				ми прагнемо зробити наш аеропорт доступним для всіх пасажирів. Якщо вам потрібна спеціальна допомога чи пристосування, будь ласка, заздалегідь повідомте про це свою авіакомпанію або нашу службу підтримки клієнтів.
			</p>
        </article>

		<article>
            <h2>Повернення коштів та скасування:</h2>
            <p>
				уточніть у вашій авіакомпанії конкретну політику відшкодування та скасування. Деякі авіакомпанії можуть стягувати комісію за зміни або скасування, а інші можуть пропонувати більш гнучкі варіанти.
			</p>
        </article>

	</div>
    </main>
</body>
</html>
