<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Головна</title>

    <link rel="stylesheet" type="text/css" href="../static/styles/base.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="../static/img/logo.png" alt="Logo">
            <p>Аеропорт XYZ</p>
        </div>
        <nav>
            <ul>
                <li><a href="/">Головна</a></li>
                <li><a href="/offers">Товари та послуги</a></li>
                <li><a href="/pricelist">Прайс-лист</a></li>
                <li><a href="/contacts">Контакти</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <article>
            <h2>Ласкаво просимо в аеропорт XYZ: ваші ворота у світ</h2>
            <p>
                Розташований у центрі міста, аеропорт XYZ є одним із найзавантаженіших і найпопулярніших аеропортів у світі. Завдяки широкому вибору авіакомпаній і напрямків ми станемо вашими воротами у світ. Незалежно від того, подорожуєте ви у справах чи на відпочинок, ми прагнемо надати вам безперебійну та приємну подорож.
            </p>
            <p>
                Наш аеропорт оснащений найсучаснішими зручностями, включаючи сучасні термінали, комфортабельні зали відпочинку, а також широкий вибір закладів харчування та магазинів. Наш досвідчений персонал прагне зробити вашу подорож максимально комфортною та без стресу.
            </p>
            <p>
                В аеропорту XYZ ми розуміємо важливість безпеки. У нас є команда висококваліфікованого персоналу служби безпеки, яка використовує новітні технології для забезпечення безпеки наших пасажирів та їхніх речей. Ми просимо, щоб усі пасажири дотримувалися наших інструкцій з безпеки, щоб допомогти нам підтримувати безпечне середовище.
            </p>
            <p>
                Ми пропонуємо різноманітні варіанти транспортування до та з аеропорту, включаючи послуги таксі, маршрутні автобуси та громадський транспорт. У нас також є зручна парковка, яка пропонує як короткострокові, так і довгострокові варіанти паркування.
            </p>
            <p>
                Ми прагнемо надавати нашим пасажирам найвищий рівень обслуговування клієнтів. Наш персонал привітний, обізнаний і завжди готовий допомогти. У нас є стійка обслуговування клієнтів, розташована в кожному терміналі, де ви можете поставити запитання або отримати допомогу щодо будь-яких проблем, які можуть виникнути.
            </p>
            <p>
                Дякуємо, що вирішили літати з нами. Ми з нетерпінням чекаємо можливості вітати вас в аеропорту XYZ і допомогти безпечно та комфортно дістатися до місця призначення.
            </p>
        </article>
        <article>
            <h2>Історія аеропорту XYZ</h2>
            <p>
                Аеропорт XYZ має багату та захоплюючу історію, яка налічує понад 50 років. Спочатку побудований як невеликий регіональний аеропорт, він швидко виріс у розмірах і популярності, згодом став одним із найзавантаженіших аеропортів у світі.
            </p>
            <p>
                За ці роки наш аеропорт зазнав численних реконструкцій і розширень, додавши нові термінали, злітно-посадкові смуги та найсучасніші засоби для кращого обслуговування наших пасажирів. Сьогодні ми пишаємось тим, що є одним із найсучасніших та найефективніших аеропортів у світі.
            </p>
            <p>
                Окрім обслуговування мільйонів пасажирів щороку, наш аеропорт також відіграє важливу роль у місцевій громаді. Ми підтримали низку благодійних організацій і громадських програм, допомагаючи зробити наше місто кращим місцем для життя та роботи.
            </p>
            <p>
                Дивлячись у майбутнє, ми як і раніше прагнемо надавати нашим пасажирам найкращі враження від подорожей. Ми продовжуватимемо інвестувати в нові технології та обладнання, щоб наш аеропорт залишався в авангарді авіаційної галузі.
            </p>
            <p>
                Дякуємо вам за те, що ви є частиною історії нашого аеропорту, і ми з нетерпінням чекаємо служити вам ще багато років.
            </p>
        </article>
    </main>
</body>
</html>
