<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Послуги</title>

    <link rel="stylesheet" type="text/css" href="../static/styles/base.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="../static/img/logo.png" alt="Logo">
            <p>Аеропорт XYZ</p>
        </div>
        <nav>
            <ul>
                <li><a href="/">Головна</a></li>
                <li><a href="/offers">Товари та послуги</a></li>
                <li><a href="/pricelist">Прайс-лист</a></li>
                <li><a href="/contacts">Контакти</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div style="width:75%; margin-left: auto; margin-right: auto;">
		<h1>Товари та послуги</h1>

        <article>
            <h2>Рейси:</h2>
            <p>
				Ми пропонуємо рейси по всьому світу, включаючи внутрішні та міжнародні локації. Наші найсучасніші зручності та досвідчений персонал гарантують, що ваша подорож буде бездоганною та без стресу. Ми співпрацюємо з низкою авіакомпаній, включаючи великих перевізників і бюджетних авіакомпаній, щоб надати нашим пасажирам різноманітні варіанти.
			</p>
        </article>

		<article>
            <h2>Термінали:</h2>
            <p>
				У нас є кілька сучасних терміналів, які розроблені, щоб забезпечити найкращий досвід для наших пасажирів. Кожен термінал оснащений першокласними зручностями, включаючи ресторани, кафе, магазини та кімнати відпочинку. Навігація в наших терміналах проста, а наш уважний персонал завжди готовий допомогти вам із будь-якими запитаннями.
			</p>
        </article>

		<article>
            <h2>Транспорт:</h2>
            <p>
				Ми пропонуємо різноманітні варіанти транспортування до та з аеропорту, включаючи послуги таксі, маршрутні автобуси та громадський транспорт. У нас також є зручна парковка, яка пропонує як короткострокові, так і довгострокові варіанти паркування.
			</p>
        </article>

		<article>
            <h2>Безпека:</h2>
            <p>
				В аеропорту XYZ ми дуже серйозно ставимося до безпеки. У нас є команда висококваліфікованого персоналу служби безпеки, яка використовує новітні технології для забезпечення безпеки наших пасажирів та їхніх речей. Ми просимо, щоб усі пасажири дотримувалися наших інструкцій з безпеки, щоб допомогти нам підтримувати безпечне середовище.
			</p>
        </article>

		<article>
            <h2>Обслуговування клієнтів:</h2>
            <p>
				Ми прагнемо надавати нашим пасажирам найвищий рівень обслуговування клієнтів. Наш персонал привітний, обізнаний і завжди готовий допомогти. У нас є стійка обслуговування клієнтів, розташована в кожному терміналі, де ви можете поставити запитання або отримати допомогу щодо будь-яких проблем, які можуть виникнути.
			</p>
        </article>
	</div>
    </main>
</body>
</html>
