<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{{ pageTitle }}</title>

    <link rel="stylesheet" type="text/css" href="../static/styles/base.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="../static/img/logo.png" alt="Logo">
            <p>Аеропорт XYZ</p>
        </div>
        <nav>
            <ul>
                <li><a href="/">Головна</a></li>
                <li><a href="/offers">Товари та послуги</a></li>
                <li><a href="/pricelist">Прайс-лист</a></li>
                <li><a href="/contacts">Контакти</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div style="width:75%; margin-left: auto; margin-right: auto;">
		<h1>Прайс-лист рейсів</h1>

        <ul class="pricelist">

				<li><strong>Лос Анжелес - Нью-Йорк</strong> (2023-06-01 09:00 - 2023-06-01 09:00) -
					<strong>$350</strong></li>

				<li><strong>Лондон - Париж</strong> (2023-06-02 11:45 - 2023-06-02 11:45) -
					<strong>$150</strong></li>

				<li><strong>Токіо - Сідней</strong> (2023-06-03 06:30 - 2023-06-03 06:30) -
					<strong>$800</strong></li>

				<li><strong>Сан Франциско - Майамі</strong> (2023-06-04 14:00 - 2023-06-04 14:00) -
					<strong>$400</strong></li>

				<li><strong>Дубаї - Йоханнесбург</strong> (2023-06-05 20:00 - 2023-06-05 20:00) -
					<strong>$550</strong></li>

				<li><strong>Торонто - Мехіко</strong> (2023-06-06 08:30 - 2023-06-06 08:30) -
					<strong>$250</strong></li>

				<li><strong>Пекін - Сингапур</strong> (2023-06-07 13:15 - 2023-06-07 13:15) -
					<strong>$600</strong></li>

		</ul>
	</div>
    </main>
</body>
</html>
